
.header {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.title {
  margin: 0;
  font-size: 18px;
  font-family: Arial, sans-serif;
  line-height: 1;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}
